@import '@/style/variables.scss';

.loader {
  border-radius: 50%;
  animation: loading 0.8s linear 0s infinite;
  display: inline-flex;

  &_white {
    border-left: 2px solid $white;
    border-top: 2px solid $white;
  }

  &_black {
    border-left: 2px solid $primary;
    border-top: 2px solid $primary;
  }
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
