@import '@/style/variables.scss';

.label {
  font-size: 14px;
  line-height: 20px;
}

.input {
  padding: 12px 8px 12px 12px;
  border: 1px solid $border-medium;
  transition: $transition;
  margin-top: 6px;
  border-radius: 8px;
  width: 100%;
  line-height: 24px;
  color: $primary;
  font-size: 16px;  

  &::placeholder {
    line-height: 24px;
    color: $tertiary;
    font-size: 16px;
  }

  &:focus {
    outline: none;
    border-color: $violet;
  }

  &_error {
    border-color: $error;
  }
}

.hint {
  font-size: 14px;
  line-height: 20px;
  color: $tertiary;
  margin-top: 4px;
  
  &_error {
    color: $error;
  }
}
