@import '@/style/variables.scss';

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  border-radius: 16px;

  &_contained {
    background-color: $violet;
    color: $white;

    &:hover {
      background-color: $violet-dark;
    }
  }

  &_text {
    color: $secondary;

    &:hover {
      background-color: $violet-light;
    }
  }

  &_outlined {
    color: $secondary;
    border: 1px solid $border-light;

    &:hover {
      background-color: $violet-light;
    }
  }

  &_fullwidth {
    width: 100%;
  }

  &_big {
    padding: 16px 32px;
  }

  &_small {
    padding: 8px 12px;
  }
}

.loader {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-left: 2px solid $white;
  border-top: 2px solid $white;
  animation: loading .8s linear 0s infinite;
  display: inline-flex;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
