@import '@/style/variables.scss';

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  border-radius: 16px;
  display: inline-flex;
  gap: 16px;
  justify-content: center;

  &_contained {
    background-color: $violet;
    color: $white;

    &:hover {
      background-color: $violet-dark;
    }
  }

  &_text {
    color: $secondary;

    &:hover {
      background-color: $violet-light;
    }
  }

  &_outlined {
    color: $secondary;
    border: 1px solid $border-light;

    &:hover {
      background-color: $violet-light;
    }
  }

  &_fullwidth {
    width: 100%;
  }

  &_big {
    padding: 16px 32px;
  }

  &_small {
    padding: 8px 12px;
  }

  &_delete {
    background-color: $error;
    color: $white;

    &:hover {
      background-color: $error-dark;
    }
  }
}
