$primary: #141C24;
$secondary: #344051;
$tertiary: #637083;

$violet: #9534D2;
$violet-dark: #6C2599;
$error: #F64C4C;

$border-light: #CED2DA;
$border-medium: #97A1AF;

$indicator-focused: #4C94FF;
$disabled: #F3F4F6;
