$primary: #141c24;
$secondary: #344051;
$tertiary: #637083;

$gray: #637083;
$light-gray: #ced2da;
$blue: #1a75ff;
$light-blue: #7fb2ff;
$red: #f64c4c;
$light-red: #f98686;
$gold: #ffb21a;
$light-gold: #ffd480;
$green: #40bf7f;
$light-green: #9fdfbf;

$violet: #9534d2;
$violet-dark: #6c2599;
$violet-light: #f4e3ff;
$error: #f64c4c;
$error-dark: #c53d3d;

$border-light: #ced2da;
$border-medium: #97a1af;

$indicator-focused: #4c94ff;
$indicator-light: #ced2da;
$disabled: #f3f4f6;
$white: white;

$bg-transparent-30: rgba(20, 28, 36, 0.3);

$transition: all 0.3s ease-out;
