$primary: #141c24;
$secondary: #344051;
$tertiary: #637083;

$violet: #9534d2;
$violet-dark: #6c2599;
$violet-light: #F4E3FF;
$error: #f64c4c;

$border-light: #ced2da;
$border-medium: #97a1af;

$indicator-focused: #4c94ff;
$indicator-light: #CED2DA;
$disabled: #f3f4f6;
$white: white;

$bg-transparent-30: rgba(20, 28, 36, 0.3); 

$transition: all 0.3s ease-out;
