@import '@/style/variables.scss';

.theme {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;  
  transition: $transition;

  &::after {
    position: absolute;
    content: '';
    background-color: rgba($border-light, 0.6);
    width: 100%;
    height: 100%;
    background-image: url('@/assets/decoration/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 0;
    transition: $transition;
    opacity: 0;
  }

  &_checked {
    &::after {
        opacity: 1;
    }
  }

  &_gray {
    border: 1px solid $gray;
    color: $gray;
    background-color: $gray;
    &:hover {
      background-color: $light-gray;
    }
  }

  &_blue {
    border: 1px solid $blue;
    color: $blue;

    background-color: $blue;
    &:hover {
      background-color: $light-blue;
    }
  }

  &_red {
    border: 1px solid $red;
    color: $red;

    background-color: $red;
    &:hover {
      background-color: $light-red;
    }
  }

  &_gold {
    border: 1px solid $gold;
    color: $gold;

    background-color: $gold;
    &:hover {
      background-color: $light-gold;
    }
  }

  &_green {
    border: 1px solid $green;
    color: $green;

    background-color: $green;
    &:hover {
      background-color: $light-green;
    }
  }
}
