.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
